a {
  color: currentcolor;
  -webkit-box-shadow: inset 0 -0.43333em #54c8f5a3 !important;
  /* box-shadow: inset 0 -0.33333em rgba(84, 156, 245, 0.308) !important; */
  box-shadow: inset 0 -0.43333em #54c8f5a3 !important;
  text-decoration: none !important;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
  font-size: 1.5rem !important;
}

a:hover {
  background-color: #9ddfffa6 !important;
  color: black !important;
}

a:before, a:after {
  position: absolute;
  bottom: -2px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  background: #ffffff;
}

::-moz-selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
}

::selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
}

.navigation {
  border-bottom: 0 !important;
  box-shadow: 0 !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  /* font-family: 'Spectral', serif; */
  /* font-family: 'Fira Mono' !important; */
  /* font-family: 'Lato', sans-serif !important; */
  /* font-family: 'Roboto' !important; */
  font-family: 'Inter', sans-serif !important;


  font-size: 1.5em;
  font-weight: 400;
}

h1, h2, h3 {
 font-weight: 600  !important;
}

.post h2 {
  font-size: 2.2rem;
  line-height: 2.2rem;
}

.post h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}


.navigation a {
  font-size: 1em;
}

.fixed-bar .container { 
  height: 40px !important;
}

.post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code {
  background-color: rgba(255, 229, 100, 0.2);
}

.container {
  max-width: 80rem !important;
}

.home .centered {
  height: "inherit" !important;
}
