<div class="flex min-h-9/10">
    <div class="sm:container-wide m-auto mx-auto max-w-screen-sm">
        <div class="rounded-lg justify-center content-center">
            <img src="/assets/images/favico.jpg" alt="Carlos Castellanos the Software Developer" class="rounded-full w-48 w-48 md:w-54 md:h-54 mx-auto">
        </div>
        <div class="text-center">
            <h1 class="font-semibold text-2xl md:text-3xl uppercase tracking-widest">Carlos Castellanos Vera</h1>
            <h1 class="font-medium text-lg md:text-xl uppercase tracking-widest">Software engineer and Solutions Architect</h1>
        </div>
        <div class="text-center">
            <ul class="list-none inline-flex text-center">
                <li class="pr-12 pt-6">
                    <a href="/posts" class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold">
                        /Github
                    </a>
                </li>
                <li class="pr-12 pt-6">
                    <a href="/posts" class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold">
                        /Linkedin
                    </a>
                </li>
                <li class="pt-6">
                    <a href="/posts" class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold">
                        /Twitter
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
