<nav class="sticky flex items-center justify-between flex-wrap pt-0 fixed w-full z-10 top-0">
  <ul class="flex w-full">
    <li class="mr-10 pr-32 md:pr-48 lg:pr-56">
      <a
        href="/"
        class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold"
      >
        Home
      </a>
    </li>
    <li class="mr-10 pl-2 md:pl-48 lg:pl-48">
      <a
        href="/posts"
        class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold"
      >
        /Blog
      </a>
    </li>
    <li class="mr-10">
      <a
        href="/about"
        class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold"
      >
        /About
      </a>
    </li>
  </ul>
</nav>
