<nav>
  <div class="container w-11/12 md:w-9/12 lg:w-6/12 mx-auto py-4 flex justify-between items-center">
    
    <div class="block">
      <a href="/" class="text-sm md:text-base shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold">
        Home
      </a>
    </div>

    <div class="block">
      <ul class="inline-flex">
        <li class="px-4">
          <a href="/posts" class="text-sm md:text-base shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold">
            /Blog
          </a>
        </li>
        <li class="px-4">
          <a href="/about" class="text-sm md:text-base shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold">
            /About
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
