<nav>
  <div class="container w-7/12 mx-auto py-4 flex justify-between items-center">

    <a href="/" class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold">
      Home
    </a>

    <div class="block">
      <ul class="inline-flex">
        <li class="px-4">
          <a href="/posts" class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold">
            /Blog
          </a>
        </li>
        <li class="px-4">
          <a href="/about" class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold">
            /About
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
