<section>
	{% for post in postslist | reverse %}
		<article class="pt-16" {% if post.url == url %} data-current="current item"{% endif %}>
			<h3 class="mb-4">
				<a href="{{ post.url | url }}" class="tracking-widest shadow-focus transition-all duration-300 hover:bg-link uppercase font-semibold text-lg">
												{% if post.data.title %}
														{{ post.data.title }}
												{% endif %}
				</a>
			</h3>
			<div class="mb-4">
				<span class="font-hairline" datetime="{{ post.date | machineDate }}">
					{{ post.date | readableDate }}
				</span>
				•
				<span class="">{{ post | readingTime }} read</span>
				•
				<a href="/posts/categories/{{ post.data.category }}" class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold">
					{{ post.data.category }}
				</a>
			</div>
			<p>
				{{ post | summary	| safe }}
			</p>
			<span>
				<a href="{{ post.url | url }}" class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold">
					Read more
				</a>
			</span>
		</article>
	{% endfor %}
</section>
