<h1 class="mt-10 pb-10 text-3xl font-bold uppercase">
		Posts
</h1>

<section class="post-summary">
		{% for post in postslist | reverse %}
				<article class="pb-16" {% if post.url == url %} data-current="current item" {% endif %}>
						<h1 class="">
								<a href="{{ post.url | url }}" class="font-bold text-2xl">
										{% if post.data.title %}
												{{ post.data.title }}
										{% endif %}
								</a>
						</h1>
						<div class="mb-4 text-sm">
								<span class="" datetime="{{ post.date | machineDate }}">
										{{ post.date | readableDate }}
								</span>
								•
								<span class="">{{ post | readingTime }}
										read</span>
								•
								<a href="/posts/categories/{{ post.data.category }}" class="shadow-focus transition-all duration-300 hover:bg-link downcase">
										{{ post.data.category }}
								</a>
						</div>
						<p class="leading-10 ">
								<article class="text-base">
										{{ post | summary | safe }}
										<span>
												<a href="{{ post.url | url }}" class="shadow-focus transition-all duration-300 hover:bg-link downcase font-medium">
														read more
												</a>
										</span>
								</article>
						</p>
				</article>
		{% endfor %}
</section>
