<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

		{% include "components/head.njk" %}

		<body>
				<div class="h-screen">
						{% include "components/nav.njk" %}

						<main class="container w-11/12 md:w-6/12 mx-auto">
								<article class="markdown">
										<header class="bg-white sans-serif">
												<h1 class="mb-0">{{ title }}</h1>
										</header>

										{{ layoutContent | safe }}
								</article>
						</main>

						{% include "components/footer.njk" %}
				</div>
		</body>

</html>
