---
layout: base-blog.njk
section: post
templateClass: tmpl-post
---
<article class="markdown">
  <header class="bg-white">
    
      <h1 class="pt-6">{{ title }}</h1>
      <div class="mb-4 leading-normal text-sm">
        <time datetime="{{ page.date | machineDate }}">
          <span>{{ page.date | readableDate }}</span>
        </time>
        •
        <span class="">{{ content | readingTime }}
          read</span>
        •
        <a href="/tags/{{ tags }}" class="shadow-focus transition-all duration-300 hover:bg-link downcase">
          #{{ tags }}
        </a>
      </div>
    
  </header>

  {{ content | safe }}
</article>


<div class="pt-8">
  <p class="">Have some comments or feedback? <a class="shadow-focus transition-all duration-300 hover:bg-link" target="_blank" href="https://mobile.twitter.com/search?q={{ page | fullEncodedUrl }}">Discuss it on twitter</a></p>
</div>

<div class="pt-8">
  <p class="">If you like my content, consider following me in Twitter<br>

  <a target="_blank" href="https://twitter.com/ccverak" 
     class="justify-center mt-3 text-lg font-semibold text-center
                bg-gray-800 w-48 text-white rounded-lg
                px-6 py-3 block shadow-2xl hover:text-white hover:bg-black">
                Follow me
              </a>
</div>
