---
layout: base-blog.njk
section: post
templateClass: tmpl-post
---
<article class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl text-black">
  <header class="bg-white sans-serif">
    
      <h2 class="text-4xl mb-1">{{ title }}</h2>

      <div class="pt-0 mb-4">
        <time datetime="{{ page.date | machineDate }}">
          <span>{{ page.date | readableDate }}</span>
        </time>
        •
        <span class="">{{ content | readingTime }}
          read</span>
        •
        <a href="/posts/categories/{{ category }}" class="downcase">
          {{ category }}
        </a>
      </div>
    
  </header>

  {{ content | safe }}
</article>
