---
layout: base-blog.njk
section: post
templateClass: tmpl-post
---

<div class="container-wide">
  <figure data-aspect-ratio="16:9">
    <img src="/assets/images/{{ image }}@2x.png" alt="{{ image_alt }}"/>
  </figure>
</div>

<article class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl">
  <header class="bg-white sans-serif">
    <div class="container pt-4 sm:pt-8">
      <time datetime="{{ date | machineDate }}">
        <small>{{ date | readableDate }}</small>
      </time>
      <h1 class="mb-4">{{ title }}</h1>
    </div>
  </header>


  {{ content | safe }}
</article>
