<div class="flex h-screen">
  <div class="sm:container-wide m-auto">
    <div class="rounded-lg justify-center content-center">
        <img 
        src="/assets/images/favico.jpg" 
        alt="Carlos Castellanos the Software Developer"
        class="rounded-full w-48 w-48 md:w-64 md:h-64 mx-auto"
        >
    </div>
    <div class="text-center">
        <h1 class="font-semibold text-2xl md:text-4xl uppercase tracking-widest">Carlos Castellanos Vera</h1>
        <h1 class="font-medium text-lg md:text-2xl uppercase tracking-widest">Software engineer and Solutions Architect</h1>
    </div>
    <div class="text-center">
        <ul class="list-none inline-flex text-center">
            <li class="pr-12 pt-6">
                <a
                    href="/posts"
                    class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold"
                >
                    /Github
                </a>
                </li>
            <li class="pr-12 pt-6">
                <a
                    href="/posts"
                    class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold"
                >
                    /Linkedin
                </a>
            </li>
            <li class="pt-6">
                <a
                href="/posts"
                class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link uppercase font-bold"
                >
                /Twitter
                </a>
            </li>
        </ul>
    </div>

    <div class="absolute container text-center bottom-0 inset-x-auto">
        <a class="tracking-wide shadow-focus transition-all duration-300 hover:bg-link font-bold">Get in touch!</a>
    </section>
  </div>
</div>
