<footer class="mt-2 lg:mt-16 sticky">
    <section class="container">
        <a class="">Get in touch!></a>
        <p id="privateTriggerText">me@carloscastellanosvera.com</p>
    </section>
</footer>
<script src="{% webpackAsset 'main.js' %}"></script>
