<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <a href="{{ .URL }}">{{ .Title }}</a>
      <p>{{ .Date.Format "January 2, 2006" }} • {{ .ReadingTime }} min read • <a href="/categories/{{ .Params.categories }}">{{ .Params.categories }}</a></p>
      <p>
        {{ .Summary }}
        {{ if .Truncated }}
        <!-- This <div> includes a read more link, but only if the summary is truncated... -->
          <a href="{{ .RelPermalink }}">Continue reading</a>
        {{ end }}
      </p>
      <br />
      <br />
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
