a {
  color: currentcolor;
  -webkit-box-shadow: inset 0 -0.33333em rgba(84, 156, 245, 0.308) !important;
  box-shadow: inset 0 -0.33333em rgba(84, 156, 245, 0.308) !important;
  text-decoration: none !important;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
}

::-moz-selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
}

::selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
}
