---
layout: base-blog.njk
---
<div class="container">
    <section class="">
        {{ layoutContent | safe }}

        {% set postslist = collections.posts %}
        {{ collection.posts }}
        {% include "components/postslist.njk" %}
    </section>
</div>
