---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
permalink: /tags/{{ tag }}/
layout: base-blog.njk
---

<div class="container">
    <section class="">
        {{ layoutContent | safe }}

        {% set postslist = collections[ tag ] %}
        {% include "components/postslist.njk" %}
    </section>
</div>
