<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<div class="max-w-2xl container mx-auto px-2 py-8">
			{% include "components/nav.njk" %}
		</div>

		<main class="">
			{{ layoutContent | safe }}
		</main>

		{# {% include "components/footer.njk" %} #}

	</body>

</html>
